* {box-sizing:border-box;}
body {
    font-family: 'Permanent Marker', cursive;
    background-color: #ffd700;
}

.item {
    background-color:#ffd700;
    display:block;
}

.carousel-caption {
    margin-top:10%;
    color:#CCC;
    position:static;
    background-color: #ff8c00;
}

.select {
    margin-top:5%;
}
