* {box-sizing:border-box;}
body {
    font-family: 'Permanent Marker', cursive;
    background-color: #ffd700;
    font-size:large;
}

.item {
    background-color:#ffd700;
    display:block;
}

.carousel-caption {
    margin-top:10%;
    color:#CCC;
    position:static;
    background-color: #ff8c00;
}
img {
    border-radius: 50%;
    padding:1px;
   border:1px solid #021a40;
   background-color:#ff0;
}
.select {
    margin-top:8%;
}

.radio {
  border:2px solid #ccc;
  border-top-color:#bbb;
  border-left-color:#bbb;
  background:#fff;
  width:20px;
  height:20px;
  border-radius: 50%;
}
.radio:checked{
  border:10px solid #4099ff;
}
